* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

nav{
    background-color: black;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 10; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 15px;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover{
    color: rgb(14, 63, 103);
}

#home {
    background: url(./images/empresa.png) center/cover no-repeat;
    color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#home h1{
    font-size: 40px;
}

#home p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
    padding: 80px 20px;
    text-align: center; 
}
    
form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin:  auto;
}

form label{
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover{
    background-color: rgb(14, 63, 103);
}

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
}

